*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.centered {
    text-align: center;
  }

.head{
    display:flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blueviolet;
  }